/*THUMBNAILS*/

#thumbnails-wrapper #thumbnails-toggle-wrapper {
  position: absolute;
  text-align: center;
  top: -36px;
  left: calc(50% - 20px);
  opacity: 0;
}

#thumbnails-wrapper #thumbnails-toggle {
  border-radius: 5px 5px 0 0;
  background: rgba(0, 0, 0, .1);
  display: inline-block;
  color: #fff;
  padding: 8px 9px 7px 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#thumbnails-wrapper:hover #thumbnails-toggle, #thumbnails-wrapper.thumbnails-active #thumbnails-toggle{
  background: rgba(0, 0, 0, .3);
}

#thumbnails-wrapper {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, .3);
  padding: 12px 12px 6px 12px;
  z-index: 2;
  bottom: -98px;
  height: 98px;

  -webkit-transition: bottom 0.8s ease;
  -moz-transition: bottom 0.8s ease;
  -ms-transition: bottom 0.8s ease;
  -o-transition: bottom 0.8s ease;
  transition: bottom 0.8s ease;

  display:none;
}

#thumbnails-wrapper.thumbnails-active {
  bottom: 0px;
}

#thumbnails {
  z-index: auto;
}

#thumbnails .item {
  display: inline-block;
  cursor: pointer;
  border: none;
  opacity: 0.5;
  position:relative;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#thumbnails .item:hover {
  opacity: 1;
}
#thumbnails .item.active {
  opacity: 1;
}

#thumbnails .item img {
  display: block;
  margin: auto;
  width: 150px;
}

#thumbnails .item .sticky {
  border-radius:8px;
  font-size:10px;
  padding:4px 10px;
  line-height: initial;
  position:absolute;
  background:rgba(0,0,0,0.6);
  color:#fff;
  text-align:center;
  width:90%;
  left:5%;
  bottom:3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
  display: inline-block;
}

#thumbnails-wrapper #thumbnails-tooltip {
  font-size: 14px;
  border: none;
  position: absolute;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  padding: 5px 10px;
  display: none;
  width: 300px;
  text-align: center;
  word-wrap: break-word;
}

#thumbnails-wrapper #thumbnails-tooltip:after {
  content: '';
}

#thumbnails-toggle-wrapper .icon_images{
  width: 16px;
  height: 16px;
  margin-top: 6px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

#thumbnails-toggle-wrapper .icon_images{
  width: 21px;
  height: 21px;
  margin-top: 0;
}

#thumbnails-toggle-wrapper .icon_images img{
  width: 21px;
  height: 21px;
  margin-top: 0;
}

/*THUMBNAILS*/

.owl-carousel.owl-drag .owl-item {line-height:0px;}

#thumbnails-tooltip.arrow_box {position: relative;border: 1px solid rgba(0, 0, 0, .3);}
#thumbnails-tooltip.arrow_box:after,
#thumbnails-tooltip.arrow_box:before {top: 100%;left: calc(50%);border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
#thumbnails-tooltip.arrow_box:after {border-top-color: rgba(0, 0, 0, .3);border-width: 8px;margin-left: -8px;}
