@tailwind base;
@tailwind components;

html,
body {
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
h1 {
  @apply text-title;
}

@screen xs {
  h1 {
    @apply text-title-regular;
  }
}

.btn {
  @apply rounded-full py-2 px-6  border-solid border-2 font-poppins cursor-pointer;
}

.btn--primary {
  @apply py-3 px-8 border-white;
}

.btn--secondary {
  @apply py-3 px-8 border-vegan-blue text-vegan-blue;
}

.btn--primary-landing {
  @apply border-white;
}

.btn--secondary-landing {
  @apply border-vegan-blue text-vegan-blue;
}

.btn--primary-landing:hover,
.btn--primary:hover {
  @apply text-btn-primary-hover bg-white bg-opacity-30 border-btn-primary-hover;
}

.btn--secondary-landing:hover,
.btn--secondary:hover {
  @apply border-button-secondary text-button-secondary bg-vegan-blue bg-opacity-15;
}

@screen sm {
  .btn--primary-landing {
    @apply py-3 px-8;
  }
  .btn--secondary-landing {
    @apply py-3 px-8;
  }
}

.landing-btn {
  @apply flex flex-col justify-center items-center;
}

.landing-btn:hover {
}
.landing-btn:focus {
}
.landing-btn:active {
}

.landing-btn--primary {
  @apply bg-gradient-to-r from-vegan-red to-vegan-orange text-white opacity-85;
}

.landing-btn--secondary {
  @apply bg-white opacity-80 text-vegan-blue;
}

.nav-link-container {
  @apply flex items-center;
}

.nav-link {
  @apply block text-vegan-blue;
}
.nav-mob {
  @apply font-medium text-lg font-poppins py-3;
}

.home-mob {
  @apply font-medium text-lg font-poppins py-3;
}

.nav-desk {
  @apply font-light text-lg font-poppins flex items-center h-navh;
}

.hamburger-menu {
  @apply fixed bg-white top-0 w-full flex flex-col justify-evenly;
}
.hamburger-items {
  @apply flex flex-col justify-center items-center py-8;
}
.nav-mob.nuxt-link-active {
  font-weight: bold;
}

.nav-desk.nuxt-link-active {
  font-weight: 500;
}

.nav-desk.nuxt-link-active::before {
  width: 28px;
  border-bottom: 3px solid #ef5f23;
  content: '';
  position: absolute;
  top: 3.7rem;
}

.top-wave-line {
  left: 310px;
  top: -50px;
  margin-bottom: -40px;
}

.icon-title {
  @apply font-poppins text-vegan-blue text-lg font-semibold;
}

.icon-content {
  @apply font-poppins text-vegan-blue text-base font-light;
}

.accordion-title,
.card-title {
  @apply font-poppins text-vegan-blue text-lg font-semibold;
}

.accordion-content {
  @apply font-poppins text-vegan-blue text-base font-light;
}

.accordion-signal {
  @apply text-vegan-red;
}

.section-title {
  @apply text-title text-vegan-blue font-poppins;
}

@screen sm {
  .section-title {
    @apply text-4xl;
  }
}

.content {
  @apply font-poppins text-vegan-blue text-base font-light;
}

.orange-medium {
  @apply text-lg font-medium font-poppins text-vegan-red;
}

@screen sm {
  .orange-medium {
    @apply text-title-elipse;
  }
}

.title-elipse {
  @apply text-title-elipse;
}

.modal-input {
  @apply w-modal-inputs border border-modal-input rounded-3xl px-5 py-3;
}

.modal-shade {
  @apply fixed top-0 left-0 right-0 bottom-0 flex flex-col justify-center items-center bg-gray-800 bg-opacity-50;
}

.modal-bg {
  @apply bg-white shadow-sm flex flex-col w-11/12 mx-auto rounded-3xl absolute;
}

.modal-content {
  @apply bg-white m-8 p-3 rounded-3xl flex flex-col;
}

.modal-footer {
  @apply bg-gradient-to-r from-vegan-red to-vegan-orange text-white;
}

.radio-bg {
  @apply flex justify-center items-center bg-qna px-10 py-4 mx-5 rounded-xl;
}
.route-main-title {
  @apply font-poppins text-vegan-blue font-medium text-2xl;
}

.route-modal-nr {
  @apply text-vegan-red opacity-20 font-black text-modal-route;
}

.route-modal-title {
  @apply relative font-poppins text-vegan-blue font-medium text-lg;
}

.route-modal-body {
  @apply font-poppins text-vegan-blue font-light text-base;
}

@tailwind utilities;

.vue-number-input__btn-dec {
  background: white !important;
}

.vue-number-input__btn-inc {
  background: white !important;
}
